<app-header></app-header>
<div class="containFormClient">
    <h1>Ajouter un nouveau client</h1>
    <form [formGroup]="addClientForm"  (submit)="addClient()">
  <div class="form-group">
    <label for="exampleInputEmail1">Raison sociale</label>
    <input type="text" class="form-control" id="raisonSocialeClient" aria-describedby="emailHelp" formControlName="raisonSocialeClient">
    
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Civilité *</label>
   <select name="civiliteClient" id="civiliteClient" formControlName="civiliteClient" >
       <option value="produit">Monsieur</option>
       <option value="main d'oeuvre">Madame</option>
       <option value="service">Mademoiselle</option>
       
   </select>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Nom *</label>
    <input type="text" class="form-control" id="nomClient" formControlName="nomClient" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Prénom *</label>
    <input type="text" class="form-control" id="prenomClient" formControlName="prenomClient" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Adresse*</label>
    <input type="text" class="form-control" id="adresseClient" formControlName="adresseClient" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Code postal *</label>
    <input type="text" class="form-control" id="codePostalClient" formControlName="codePostalClient" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Ville *</label>
    <input type="text" class="form-control" id="villeClient" formControlName="villeClient" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Pays *</label>
    <input type="text" class="form-control" id="paysClient" formControlName="paysClient" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Adresse mail *</label>
    <input type="mail" class="form-control" id="mailClient" formControlName="mailClient" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Téléphone *</label>
    <input type="text" class="form-control" id="telClient" formControlName="telClient" required>
  </div>
 
  
 
  <button type="submit" class="btn btn-primary">Ajouter</button>
</form>
<p style="margin-top:20px;color:red;">Les champs marqués d'une * sont obligatoires</p>
</div>

