<app-header></app-header>
<h2>Liste de vos articles</h2>

<div class="containListArticle">
    <button class="btn btn-primary ml-auto" type="button" (click)="navigWithId()"><i
            class="fas fa-plus"></i>Ajouter</button>
    <div *ngFor="let element of listeArticleUtilisateur" class="listArticle">
        {{element.libelle}}
        <div class="containAction">
            <i class="fas fa-edit" style="color:blue"></i>
            <i class="fas fa-trash" style="color:red"></i>
        </div>
    </div>
</div>