<div class="containFormAuthentification">
    <h1>Veuillez vous connecter</h1>
<form #authForm="ngForm" (ngSubmit)="authUtilisateur()">
    <div class="form-group">
      <label for="exampleInputEmail1">Mail</label>
      <input type="mail" class="form-control" id="mail" [(ngModel)]="utilisateur.mailUtilisateur"[ngModelOptions]="{standalone: true}" required>
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Mot de passe</label>
      <input type="password" class="form-control" id="password" [(ngModel)]="utilisateur.passwordUtilisateur"[ngModelOptions]="{standalone: true}" required>
    </div>

    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Se souvenir de moi</label>
    </div>

    <button class="btn btn-primary" type="submit"[disabled]="!authForm.form.valid">Connexion</button>
  </form>
  <span>Je ne suis pas encore inscrit <a [routerLink]="['/inscription']">Créer un compte</a></span>
  
</div>