<app-header></app-header>
<div class="containFromArticle">
    <h1>Ajouter un article</h1>
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Référence de l'article</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Type d'article *</label>
   <select name="refArticle" id="refArticle" >
       <option value="produit">Produit</option>
       <option value="main d'oeuvre">Main d'oeuvre</option>
       <option value="service">Service</option>
       <option value="livraison">Livraison</option>
   </select>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Libellé *</label>
    <input type="text" class="form-control" id="exampleInputPassword1" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Prix *</label>
    <input type="number" class="form-control" id="exampleInputPassword1" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Coeficient</label>
    <input type="number" class="form-control" id="exampleInputPassword1">
  </div>
  
 
  <button type="submit" class="btn btn-primary">Ajouter</button>
</form>
<p style="margin-top:20px;color:red;">Les champs marqués d'une * sont obligatoires</p>
</div>