<div class="clientToDel" >

    <h1>Vous êtes sur le point de supprimer un de vos clients</h1>
    <div class="card text-center" style="width: 50rem; height: 15rem;">
        <div class="card-body">
          <h2 class="card-title">Êtes vous sûre de vouloir supprimer</h2>
          <p class="card-text" style="color: red;font-weight: 700;font-size: 1.9em;">{{raisonSociale }} <span style="font-size: 1.2em;color: black;font-weight:600;">?</span></p><br>
          <a class="btn btn-danger"style="font-size:1.5em"(click)="delClient()">Confirmer suppression</a>
          <a class="btn btn-success"style="font-size:1.5em"(click)="cancel()">Annuler</a>
        </div>
      </div>
     </div>
